<!DOCTYPE html>
<html>
<head>
  <title>PjRanch</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav id="nav-main-wrap">
		<%= link_to image_tag('pj-logo.png', class: 'pj-logo', alt: 'PJ Ranch', title: 'PJ logo'), '/' %>
		<ul class="nav-list">
			<li class="nav-item">
				<%= link_to 'ABOUT', '/about' %>
			</li>
			<li class="nav-item dropdown">
				<a href='#'>LOCAL</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">DO</a>
						<ul class="dropdown-menu sub-menu">
							<li><a href="#">HORSEBACK RIDING</a></li>
							<li><a href="#">SOAP MAKING</a></li>
							<li><a href="#">FISHING</a></li>
							<li><a href="#">SPECIAL EVENTS</a></li>
							<li><a href="#">RAFTING</a></li>
							<li><a href="#">FOSSIL HUNTING</a></li>
							<li><a href="#">SWIMMING</a></li>
							<li><a href="#">HOT SPRINGS</a></li>
						</ul>
					</li>
					<li><a href="#">STAY</a></li>
					<li><a href="#">EAT</a></li>
					<li><a href="#">LEARN</a></li>
					<li><a href="#">CRAFT</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="/community">COMMUNITY</a>
			</li>
			<li class="nav-item">
				<a href="#">EVENTS</a>
			</li>
			<li class="nav-item">
				<a href="/contact">CONTACT</a>
			</li>
		</ul>
	</nav>
	<div id="box-main">
		
		<%= yield %>
	
	</div>
</body>
</html>
